$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    //max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-default {
  background-color: #367fa9;
}

.navbar-brand {
  color: #FFF !important;
  font-family: 'Papyrus,fantasy' !important;
  font-size: 30px !important;
  font-weight: 500;
}

.header {
  border-bottom: 0;
}

.sideNavBar {
  height: 100%;
  width: 200px;
  //background-color: #333;
  position: absolute;
  top: 53px;
  buttom: 0;
  left: 2px
}

.leftMenu {
  padding: 0 !important;
  font-family: verdana, arial;
  font-size: 16px;
  //  padding-left: 4px !important;
  //  padding-right: 4px !important;
}

.leftMenuTitle {
  color: #FFF;
  background-color: cornflowerblue;
  font-size: 20px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px
}

.leftMenuItem {
  color: #FFF;
  background-color: rgb(44, 59, 66);
  list-style-type: none;
}

.menuItem {
  cursor: pointer;
  background-color: #000066;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.chartMenu {
  padding: 0;
}

.chartMenuItem {
  list-style-type: none;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.chartMenuItemLink{
  color: #FFF !important;
}

.active-li {
  color: #FFF !important;
  background-color: #245269;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .5px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 2px;
}

.close-icon{
  position: absolute;
  background-image: image-url('close.png');
  width: 16px;
  height: 16px;
  top: 11px;
  right: 12px;
}

.logo {
  height: 50px;
  right: 1%;
  top:6px;
  float: right
}
