<div style="width: 950px; height: 270px">
  <div style="height: 220px; width: 440px;display: inline-block;margin-right: 50px">
    <canvas id="line" class="chart chart-line" data="vmCharts.data"
            labels="vmCharts.labels" legend="true" series="vmCharts.series"
            click="vmCharts.onClick">
    </canvas>
  </div>
  <div style="height: 250px; width: 440px;display: inline-block">
    <canvas id="line2" class="chart chart-line" data="vmCharts.data"
            labels="vmCharts.labels" legend="true" series="vmCharts.series"
            click="vmCharts.onClick">
    </canvas>
  </div>
</div>
<div style="width: 950px;height: 270px">
  <div style="height: 220px; width: 440px;display: inline-block;margin-right: 50px">
    <canvas id="line3" class="chart chart-line" data="vmCharts.data"
            labels="vmCharts.labels" legend="true" series="vmCharts.series"
            click="vmCharts.onClick">
    </canvas>
  </div>
  <div style="height: 250px; width: 440px;display: inline-block">
    <canvas id="line4" class="chart chart-line" data="vmCharts.data"
            labels="vmCharts.labels" legend="true" series="vmCharts.series"
            click="vmCharts.onClick">
    </canvas>
  </div>
</div>
