<div>
    <div id="container" class="container" style="position: absolute;left: 200px;top:50px;width: 700px;height: 700px;"></div>
    <div style="position: absolute; right: 20px">
        <div style="position: relative; font-size: 22px;  right: -300px;margin-bottom: 20px;" ng-if="vmGraph.countData.length > 0">
            <span>Processes Count</span>
        </div>
        <div ng-if="vmGraph.countData.length > 0" style="margin-bottom: 80px;position: relative;  right: -90px;padding-left: 150px;">
            <canvas id="doughnut" class="chart chart-doughnut" data="vmGraph.countData"
                    labels="vmGraph.countLabels"></canvas>
        </div>
        <div style="position: relative; font-size: 22px;  right: -205px;margin-bottom: 20px;margin-top: 20px" ng-if="vmGraph.meanData[0].length > 0">
            <span>Processes Mean</span>
        </div>
        <div ng-if="vmGraph.meanData[0].length > 0" style="margin-bottom: 80px">
            <canvas id="bar" class="chart chart-bar" data="vmGraph.meanData" height="250px" width="600px"
                    labels="vmGraph.meanLabels"
                    colours="vmGraph.barColours"></canvas>
        </div>
        <div style="position: relative; font-size: 22px;  right: -170px;margin-bottom: 20px;margin-top: 20px" ng-if="vmGraph.data[0].length > 0">
            <span>Processes Mean vs. Max</span>
        </div>
        <div ng-if="vmGraph.data[0].length > 0">
            <canvas id="line" class="chart chart-line"
                    data="vmGraph.data"
                    labels="vmGraph.labels"
                    colours="vmGraph.lineColours">
            </canvas>
        </div>
    </div>
</div>

<nils-modal ng-if="vmGraph.showInfo" info="vmGraph.nodeInfo" close-me="vmGraph.showInfo"></nils-modal>