<div>
  <div class="sideNavBar">
    <div class="leftMenuTitle">{{vm.title}}</div>
    <ul class="leftMenu">
      <li class="leftMenuItem" ng-repeat="item in vm.applications">
        <div class="menuItem" title="{{item.name}}" ng-click="vm.selectApp(item.key)" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{item.name}}</div>
        <ul class="chartMenu" ng-if="vm.selectedApp == item.key">
          <li ng-repeat="displayType in vm.displayTypes" ng-click="vm.setSelectedDisplayType($index)"
              ng-class="{'active-li': vm.selectedDisplayType == $index}" class="chartMenuItem">
            <a ng-click="vm.changeDisplay(item, $index)" class="chartMenuItemLink">{{displayType}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <div ui-view=""></div>
  </div>
</div>

