<div style="width: 300px;position: absolute;right: 470px;border: 3px solid grey;padding-top: 10px;padding-left: 10px;padding-bottom: 10px">
    <span class="close-icon" ng-click="closeMe = false"></span>
    <div>
        <span style="width: 145px;display: inline-block">Class Name: </span>
        <span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-block; width: 100px;" title="{{info.className}}">{{info.className}}</span>
    </div>
    <div>
        <span style="width: 145px;display: inline-block">Instance Name: </span>
        <span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-block; width: 100px;" title="{{info.actorPath}}">{{info.actorPath}}</span>
    </div>
    <div>
        <span style="width: 145px;display: inline-block">Min process time: </span>
        <span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-block; width: 100px;" title="{{info.model.min}}">{{info.model.min}}</span>
    </div>
    <div>
        <span style="width: 145px;display: inline-block">Max process time: </span>
        <span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-block; width: 100px;" title="{{info.model.max}}">{{info.model.max}}</span>
    </div>
    <div>
        <span style="width: 145px;display: inline-block">Average process time: </span>
        <span style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: inline-block; width: 100px;" title="{{info.model.mean | number: 0}}">{{info.model.mean | number: 0}}</span>
    </div>
</div>
